<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/CardinalHead-blk.gif" alt="University of Louisville">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010-2015</h4>
                                <h4 class="subheading">University of Louisville</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">BSBA Computer and Information Sciences</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Rep_Bank.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2011 - August 2015</h4>
                                <h4 class="subheading">Republic Bank & Trust</h4>
                                <h6 class="subheading">Business Intelligence Intern</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Used data to create reports to help make better business decisions for Republic Bank personnel. Wrote SQL code to analyze the data using SQL Server Management Studio. Using the collected analyzed data, I would create reports with SQL Server Reporting Services which would be deployed to SharePoint upon completion.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Zirmed.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2015 - December 2015</h4>
                                <h4 class="subheading">ZirMed</h4>
                                <h6 class="subheading">Delivery Manager Intern</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Assists the Delivery Manager and Engineering teams in validating the project objectives. Plans with Products, Operations and Engineering teams to coordinate the delivery of development and production releases and ensures that quality assurance standards are met using agile methodologies and Scrum. Created reports using Team Foundation Server data warehouse to document and analyzed the development process.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Zirmed.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>January 2016</h4>
                                <h4 class="subheading">ZirMed</h4>
                                <h6 class="subheading">IT Intern</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a class="page-scroll" href="#contact">
                            <div class="timeline-image">
                                <h4>
                                    Click here
                                    <br>to contact
                                    <br>me!
                                </h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>