@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body  id="page-top" class="index">
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    Welcome To Nick Wolf site!
                </div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#about" class="page-scroll btn btn-xl">About Me</a>
            </div>
        </div>
    </header>

    @Html.Partial("_About")

    @Html.Partial("_Resume")

    @Html.Partial("_Contact")

</body>
</html>
