@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Not Found";
}

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                Whoops...Not Found
            </div>
            <h3>The resource you were looking for doesn't exist</h3>
            <a href="~/Home/Index" class="btn btn-xl">Go Back!</a>
        </div>
    </div>
</header>